main {
    display: grid;
    place-items: start center;
    flex: 1;
    text-shadow:0 max(1px, calc(1vw/var(--screen-size-list))) max(1px, calc(1vw/var(--screen-size-list))) rgba(0,0,0);
}

.content {
    display: grid;
    grid-template-columns: max(559px, calc(559vw/var(--screen-size-list)));
    background-color: var(--background-color);
    justify-items: center;
    border-radius: max(10px, calc(10vw/var(--screen-size-list)));
    padding: max(10px, calc(10vw/var(--screen-size-list)));
    margin: max(10px, calc(10vw/var(--screen-size-list)));
    width: max(559px, calc(559vw/var(--screen-size-list)));
    font-size: max(14px, calc(14vw/var(--screen-size-list)));
    overflow: hidden;
}

.picture_container {
    margin-top: min(-10px, calc(-10vw/var(--screen-size-list)));
    height: max(193px, calc(193vw/var(--screen-size-list)));
    width: calc(100% + max(20px, calc(20vw/var(--screen-size-list))));
}

.picture {
    width: 100%;
}

.picture_shadow {
    position: absolute;
    content: "";
    display: block;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
    margin-top: min(-97px, calc(-97vw/var(--screen-size-list)));
    height: max(97px, calc(97vw/var(--screen-size-list)));
    width: max(579px, calc(579vw/var(--screen-size-list)));
}

@media only screen and (max-width: 599px) {
    .content {
        grid-template-columns: auto;
        width: auto;
        padding: 2.69vw;
    }

    .picture_container {
        margin-top: -2.69vw;
        height: auto;
        width: calc(100% + 5.38vw);
    }

    .picture_shadow {
        margin-top: calc(-16.1vw);
        height: 16.2vw;
        width: calc(100% - max(20px, calc(20vw/var(--screen-size-list))));
    }
}
