.footer {
    display: grid;
    grid-template-rows: max(30px, calc(30vw/var(--screen-size-header)));
    place-items: center;
    background-color: var(--background-color);
    grid-template-columns: repeat(1, auto);
    /*transition: grid-template-columns 1s;*/
    padding-left: 0;
    margin: 0;
    text-shadow:0 max(1px, calc(1vw/var(--screen-size-header))) max(1px, calc(1vw/var(--screen-size-header))) rgba(0,0,0);
}

.copyright {
    color: var(--text-color);
    text-decoration: none;
    font-size: max(15px, calc(15vw/var(--screen-size-header)));
}