footer {
    display: grid;
    place-items: center;
    background-color: var(--background-color);
    grid-template-columns: repeat(1, auto);
    padding: max(5px, calc(5vw/var(--screen-size-header)));
    text-shadow:0 max(1px, calc(1vw/var(--screen-size-header))) max(1px, calc(1vw/var(--screen-size-header))) rgba(0,0,0);
}

.copyright {
    color: var(--text-color);
    text-decoration: none;
    font-size: max(15px, calc(15vw/var(--screen-size-header)));
}