header {
    background-color: var(--background-color);
    border-radius: max(15px, calc(15vw/var(--screen-size-header)));
    padding-left: 0;
    text-shadow:0 max(1px, calc(1vw/var(--screen-size-header))) max(1px, calc(1vw/var(--screen-size-header))) rgba(0,0,0);
    margin: max(10px, calc(10vw/var(--screen-size-header)));
}

.nav {
    display: grid;
    place-items: center;
    grid-template-rows: max(50px, calc(50vw/var(--screen-size-header)));
    grid-template-columns: 60% repeat(4, auto);
    padding: 0;
    margin: 0;
    transition: grid-template-columns 1s;
}

.nav > li {
    width: max-content;
    display: inline-block;
	position: relative;
}

.nav > .title_item {
    width: 100%;
    height: 100%;
    align-content: center;
}

.title_item > a {
    display: inline-grid;
    align-content: center;
    height: 100%;
    border-top-left-radius: max(15px, calc(15vw/var(--screen-size-header)));
    border-bottom-left-radius: max(15px, calc(15vw/var(--screen-size-header)));
    background-color: var(--accent-color);
    padding-left: max(10px, calc(10vw/var(--screen-size-header)));
    padding-right: max(10px, calc(10vw/var(--screen-size-header)));
    transition: opacity 3s;
    margin: 0;
    text-decoration: none;
}

.title_item > a > h1 {
    font-size: max(30px, calc(30vw / var(--screen-size-header)));
    font-weight: bold;
    color: var(--text-color);
    font-family: "serif", serif;
}

.header_item > button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-shadow:0 max(1px, calc(1vw/var(--screen-size-header))) max(1px, calc(1vw/var(--screen-size-header))) rgba(0,0,0);
}

.header_item > :is(a, button) {
    text-align: center;
    display: inline-block;
    font-size: max(24px, calc(24vw/var(--screen-size-header)));
    text-decoration: none;
    color: var(--text-color);
    font-family: "serif", serif;
}

.header_item > :is(a, button)::after {
    content: "";
    position: absolute;
    top: 100%;
    height: max(4px, calc(4vw/var(--screen-size-header)));
    border-radius: max(2px, calc(2vw/var(--screen-size-header)));
    background-color: var(--text-color);
    width: 40%;
    left: 30%;
    transition: left 0.3s ease-out .1s, width 0.3s ease-out .1s;
    box-shadow:0 max(1px, calc(1vw/var(--screen-size-header))) max(1px, calc(1vw/var(--screen-size-header))) rgba(0,0,0);
}

.header_item > :is(a, button):hover::after,
.header_item > :is(a, button):focus::after,
.header_item > .active::after {
    background-color: var(--accent-color);
    width: 90%;
    left: 5%;
    transition: left 0.4s ease, width 0.4s ease;
}

.lang-box {
	display: block;
    margin: max(15px, calc(15vw / var(--screen-size-header))) max(10px, calc(10vw / var(--screen-size-header)));
    position: relative;
}

.dropdown {
    position: absolute;
    background: var(--background-color);
    overflow: hidden;
    padding: 0;
    width: max-content;
    right: max(-10px, calc(-10vw/var(--screen-size-header)));
    margin-top: max(16px, calc(16vw/var(--screen-size-header)));
    border-radius: max(10px, calc(10vw/var(--screen-size-header)));
    height: 0;
    transition: height 0.5s 0.15s ease;
    z-index: 1;
}

.lang:hover > .dropdown,
.lang:focus-within > .dropdown,
.dropdown:hover,
.dropdown:focus {
    height: max(144px, calc(144vw/var(--screen-size-header)));
    transition: height 0.5s ease;
}

.lang-box > a {
    color: var(--text-color);
    text-decoration: none;
}

.lang-flag {
    height: max(21px, calc(21vw/var(--screen-size-header)));
    border-radius: max(4px, calc(4vw/var(--screen-size-header)));
    box-shadow:0 max(1px, calc(1vw/var(--screen-size-header))) max(1px, calc(1vw/var(--screen-size-header))) rgba(0,0,0);
}

.header_item > .active {
    color: var(--accent-color);
}

@media only screen and (max-width: 1279px) {
    .title_item > a {
        opacity: 0;
        right: 213px;
        transition: opacity 0.5s, right 0s 0.5s;
    }
    .nav {
        grid-template-columns: 0 repeat(4, auto);
    }
}

@media only screen and (max-width: 599px) {
    .nav {
        grid-template-rows: 75px;
    }
    .nav > li {
        width: min-content;
    }
    .lang > button > span,
    .lang > button::after,
    .lang-box > button > span,
    .lang-box > button::after {
        display: none;
    }
    .lang i:hover,
    .lang i:focus,
    .lang i:active {
        color: var(--accent-color);
    }
    .dropdown {
        margin-top: 1.7rem;
        right: -14px;
    }
    .lang:hover > .dropdown,
    .lang:focus-within > .dropdown,
    .dropdown:hover,
    .dropdown:focus {
        height: 123px;
    }
    .lang-box a {
        display: inline-block;
        position: relative;
    }
    .lang-flag{
        display: inline-block;
        position: relative;
    }
    .lang-box {
        height: 21px;
    }
    .lang-box a {
        height: 21px;
    }

}