<head>
    <link rel="stylesheet" href="../style/creations-list.css">
</head>

<div class="creations_div">
    <span class="creations_grid">
        <span class="creations_section">creations.new_creations</span>
        <!-- modify to change the new creations -->
        <a href="" class="creation">
            <span class="creation_info creation_header_left">creation_1.header.left</span>
            <span class="creation_info creation_header_right">creation_1.header.right</span>
            <img class="creation_picture" alt="New creation picture" src="../assets/images/creations/new_creation/1/picture.png">
            <span class="creation_info creation_infos">
                <span class="creation_name">creation_1.name</span>
                <span class="creation_short_desc">creation_1.desc</span>
            </span>
        </a>
        <a href="" class="creation">
            <span class="creation_info creation_header_left">creation_2.header.left</span>
            <span class="creation_info creation_header_right">creation_2.header.right</span>
            <img class="creation_picture" alt="New creation picture" src="../assets/images/creations/new_creation/2/picture.png">
            <span class="creation_info creation_infos">
                <span class="creation_name">creation_2.name</span>
                <span class="creation_short_desc">creation_2.desc</span>
            </span>
        </a>
        <span class="creations_section">creations.other_creations</span>
        <!-- modify to add a new creation -->
        <a href="" class="creation">
            <span class="creation_info creation_header_left">creation_3.header.left</span>
            <span class="creation_info creation_header_right">creation_3.header.right</span>
            <img class="creation_picture" alt="creation picture" src="../assets/images/creations/">
            <span class="creation_info creation_infos">
                <span class="creation_name">creation_3.name</span>
                <span class="creation_short_desc">creation_3.desc</span>
            </span>
        </a>
    </span>
</div>