<head>
    <link rel="stylesheet" href="../style/creations-list.css">
</head>

<div class="creations_div hi">
    <span class="creations_grid">
        <span class="creation_section">creations.new_creations</span>
        <!-- modify to change the new creations -->
        <a href="" class="creation">
            <span class="creation_info creation_version">creations.header_left_1</span>
            <span class="creation_info creation_players">creations.header_right_1</span>
            <img class="creation_picture" alt="New creation picture" src="../assets/images/creations/new_creation/1/picture.png">
            <span class="creation_info creation_infos">
                <span class="creation_name">creations.creation_name_1</span>
                <span class="creation_short_desc">creations.creation_desc_1</span>
            </span>
        </a>
        <a href="" class="creation">
            <span class="creation_info creation_version">creations.header_left_2</span>
            <span class="creation_info creation_players">creations.header_right_2</span>
            <img class="creation_picture" alt="New creation picture" src="../assets/images/creations/new_creation/2/picture.png">
            <span class="creation_info creation_infos">
                <span class="creation_name">creations.creation_name_2</span>
                <span class="creation_short_desc">creations.creation_desc_2</span>
            </span>
        </a>
        <span class="creation_section">creations.other_creations</span>
        <!-- modify to add a new creation -->
        <a href="" class="creation">
            <span class="creation_info creation_version">creations.header_left_3</span>
            <span class="creation_info creation_players">creations.header_right_3</span>
            <img class="creation_picture" alt="creation picture" src="../assets/images/creations/">
            <span class="creation_info creation_infos">
                <span class="creation_name">creations.creation_name_3</span>
                <span class="creation_short_desc">creations.creation_desc_3</span>
            </span>
        </a>
    </span>
</div>