<div class="maps_div">
    <span class="maps_grid">
        <span class="map_section">creations.new_creations</span>
        <!-- modify to change the new maps -->
        <a href="" class="map">
            <span class="map_info map_version">creations.header_left_1</span>
            <span class="map_info map_players">creations.header_right_1</span>
            <img class="map_picture" alt="New Map picture" src="../assets/images/maps/new_map/1/picture.png">
            <span class="map_info map_infos">
                <span class="map_name">creations.creation_name_1</span>
                <span class="map_short_desc">creations.creation_desc_1</span>
            </span>
        </a>
        <a href="" class="map">
            <span class="map_info map_version">creations.header_left_2</span>
            <span class="map_info map_players">creations.header_right_2</span>
            <img class="map_picture" alt="New Map picture" src="../assets/images/maps/new_map/2/picture.png">
            <span class="map_info map_infos">
                <span class="map_name">creations.creation_name_2</span>
                <span class="map_short_desc">creations.creation_desc_2</span>
            </span>
        </a>
        <span class="map_section">creations.other_creations</span>
        <!-- modify to add a new map -->
        <a href="" class="map">
            <span class="map_info map_version">creations.header_left_3</span>
            <span class="map_info map_players">creations.header_right_3</span>
            <img class="map_picture" alt="Map picture" src="../assets/images/maps/">
            <span class="map_info map_infos">
                <span class="map_name">creations.creation_name_3</span>
                <span class="map_short_desc">creations.creation_desc_3</span>
            </span>
        </a>
    </span>
</div>