<ul class="head">
    <li class="head-box site-box">
        <a href="home" class="site-name">
            RenardElectric
        </a>
    </li>
    <li class="head-box">
        <a href="home" class="header header.home">
            <i class="fa-solid fa-house-chimney"></i>
            head.home
        </a>
    </li>
    <li class="head-box">
        <a id="maps" href="maps" class="header">
            <i class="fa-solid fa-map"></i>
            head.maps
        </a>
    </li>
    <li class="head-box">
        <a id="news" href="news" class="header">
            <i class="fa-solid fa-newspaper"></i>
            head.news
        </a>
    </li>
    <li class="head-box lang">
        <a href="#" class="header">
            <i class="fa-solid fa-globe"></i>
            <span>head.language</span>
        </a>
        <ul class="dropdown" aria-label="submenu">
            <li class="lang-box header">
                <a href="..\en\home">
                    <img src="..\assets\images\flags\en.png" class="lang-falg">
                    <span> English</span>
                </a>
            </li>
            <li class="lang-box active header">
                <a href="">
                    <img src="..\assets\images\flags\fr.png" class="lang-falg">
                    <span> Français</span>
                </a>
            </li>
            <li class="lang-box header">
                <a href="..\de\home">
                    <img src="..\assets\images\flags\de.png" class="lang-falg">
                    <span> Deutsch</span>
                </a>
            </li>
        </ul>
    </li>
</ul>