<head>
    <link rel="stylesheet" href="../../style/header.css">
</head>

<body>
    <header>
        <nav>
            <ul class="nav">

                <li class="title_item">
                    <a href="https://renardelectric.github.io/home">
                        <h1>RenardElectric</h1>
                    </a>
                </li>

                <li class="header_item">
                    <a href="https://renardelectric.github.io/home" class="home_header">
                        <i class="fa-solid fa-house-chimney"></i>
                        <span class="header_home"></span>
                    </a>
                </li>

                <li class="header_item">
                    <a href="https://renardelectric.github.io/creations" class="creations_header">
                        <i class="fa-solid fa-map"></i>
                        <span class="header_creations"></span>
                    </a>
                </li>

                <li class="header_item">
                    <a href="https://renardelectric.github.io/news" class="news_header">
                        <i class="fa-solid fa-newspaper"></i>
                        <span class="header_news"></span>
                    </a>
                </li>

                <li class="header_item lang">

                    <button aria-label="language">
                        <i class="fa-solid fa-globe"></i>
                        <span class="header_lang"></span>
                    </button>

                    <ul class="dropdown" aria-label="submenu">

                        <li class="lang-box header_item">
                            <button  aria-label="english" class="lang_en" onclick="changeLang('en')">
                                <img src="https:\\renardelectric.github.io\assets\images\flags\en.svg" class="lang-flag" alt="en">
                                <span>English</span>
                            </button>
                        </li>

                        <li class="lang-box header_item">
                            <button  aria-label="français" class="lang_fr" onclick="changeLang('fr')">
                                <img src="https:\\renardelectric.github.io\assets\images\flags\fr.svg" class="lang-flag" alt="fr">
                                <span>Français</span>
                            </button>
                        </li>

                        <li class="lang-box header_item">
                            <button  aria-label="deutsch" class="lang_de" onclick="changeLang('de')">
                                <img src="https:\\renardelectric.github.io\assets\images\flags\de.svg" class="lang-flag" alt="de">
                                <span>Deutsch</span>
                            </button>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
</body>