<head>
    <link rel="stylesheet" href="../style/list.css">
    <link rel="stylesheet" href="../style/home.css">
</head>

<div class="div">
    <span class="grid">
        <span class="section">creations.new_creations</span>
        <a href="" class="creation">
            <span class="header_left">creation_1.header.left</span>
            <span class="header_right">creation_1.header.right</span>
            <img class="picture" alt="New creation picture" src="../assets/images/creations/new_creation/1/picture.png">
            <span class="infos">
                <span class="name">creation_1.name</span>
                <span class="short_desc">creation_1.desc</span>
            </span>
        </a>
        <a href="" class="creation">
            <span class="header_left">creation_2.header.left</span>
            <span class="header_right">creation_2.header.right</span>
            <img class="picture" alt="New creation picture" src="../assets/images/creations/new_creation/2/picture.png">
            <span class="infos">
                <span class="name">creation_2.name</span>
                <span class="short_desc">creation_2.desc</span>
            </span>
        </a>
        <span class="section">Latest News</span>
        <a href="" class="creation_fixed">
            <span class="header_left">creation_1.header.left</span>
            <span class="header_right">creation_1.header.right</span>
            <img class="picture" alt="New creation picture" src="../assets/images/creations/new_creation/1/picture.png">
            <span class="infos">
                <span class="name">creation_1.name</span>
                <span class="short_desc">creation_1.desc</span>
            </span>
        </a>
        <a href="" class="creation_fixed">
            <span class="header_left">creation_2.header.left</span>
            <span class="header_right">creation_2.header.right</span>
            <img class="picture" alt="New creation picture" src="../assets/images/creations/new_creation/2/picture.png">
            <span class="infos">
                <span class="name">creation_2.name</span>
                <span class="short_desc">creation_2.desc</span>
            </span>
        </a>
    </span>
</div>