<head>
    <link rel="stylesheet" href="../../style/list.css">
    <link rel="stylesheet" href="../../style/home.css">
</head>

<div class="div">
    <span class="grid">
        <span class="section new_creations"></span>
        <a href="" class="creation creation_1">
            <span class="header_left"></span>
            <span class="header_right"></span>
            <img class="picture" alt="New creation picture" src="../assets/images/creations/new_creation/1/picture.png">
            <span class="infos">
                <span class="name"></span>
                <span class="short_desc"></span>
            </span>
        </a>
        <a href="" class="creation creation_2">
            <span class="header_left"></span>
            <span class="header_right"></span>
            <img class="picture" alt="New creation picture" src="../assets/images/creations/new_creation/2/picture.png">
            <span class="infos">
                <span class="name"></span>
                <span class="short_desc"></span>
            </span>
        </a>
        <span class="section">Latest News</span>
        <a href="" class="creation_fixed creation_1">
            <span class="header_left"></span>
            <span class="header_right"></span>
            <img class="picture" alt="New creation picture" src="../assets/images/creations/new_creation/1/picture.png">
            <span class="infos">
                <span class="name"></span>
                <span class="short_desc"></span>
            </span>
        </a>
        <a href="" class="creation_fixed creation_2">
            <span class="header_left"></span>
            <span class="header_right"></span>
            <img class="picture" alt="New creation picture" src="../assets/images/creations/new_creation/2/picture.png">
            <span class="infos">
                <span class="name"></span>
                <span class="short_desc"></span>
            </span>
        </a>
    </span>
</div>